<div class="navbar-wagon-marketing navbar-fixed-top">
  <%= link_to root_path, class: "" do %>
      <%= image_tag 'el_logo.png', height: 45%>
  <% end  %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <%= link_to "HOME", root_path, class: "navbar-wagon-item navbar-wagon-link "%>
    <%= link_to "CURRENTLY MARKETING", marketing_path, class: "navbar-wagon-item navbar-wagon-link marketing-tab"%>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Currently Marketing", marketing_path, id: "marketing-tab-dropdown"%></li>
      </ul>
    </div>
  </div>
</div>
