<%= render 'shared/navbar' %>
<div class="banner">
  <p id="headline" style="text-shadow: 2px 2px #641716";>AN INDEPENDENT LAND AND PROPERTY AGENCY, SPECIALISING IN LONDON AND THE SOUTH EAST</p>
</div>
<%= render 'shared/intro' %>
<%= render 'shared/what_we_do' %>
<%= render 'shared/about_dominic' %>
<div class="holder-image"></div>
<%= render 'shared/case_studies' %>

