<div class="banner">
  <p id="headline">An independent land and property agency, specialising in London and the South East</p>
</div>

<%= render 'shared/intro' %>
<%= render 'shared/what_we_do_two' %>
<%= render 'shared/marketing' %>
<%= render 'shared/about_dominic' %>
<%= render 'shared/case_studies' %>

